.container-fluid {
    padding: 0em;
    margin: 0em;
}

.login_div {
    text-align: center;
    padding-top: 5%;
    padding-right: 5%;
}

.image_div {
    padding: unset;
    margin: unset;
}

@media (max-width: 400px) {
    .image_div {
        display: none;
    }
}


/* .footer {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    line-height: 66px;
 } */

.form-control.ng-invalid.ng-touched,
.form-control.ng-invalid.ng-dirty {
    border: 1px solid red;
}